/abc.py
/Add.py
/billing.ico
/Calculator.py
/control statments.py
/Datatypes.py
/def.py
/Dictionary.py
/Do.py
/encapsulation.py
/exception handling.py
/filehandling.py
/functions.py
/hello.py
/Inheritance.py
/input.py
/list.py
/loopstatements.py
/oops concepts intro.py
/Password_Generator.py
/sets.py
/strings.py
/swathi.txt
/tuple.py
/variable.py
/web scarping.py